body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 60px 20px;
  background: #020617;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  color: #3b82f6;
  margin-bottom: 10px;
}

section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

p {
  color: #cbd5f5;
}

a {
  color: #3b82f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*------------*/
.hero {
  text-align: center;
  padding: 80px 20px;
  background: #020617;
}

.hero p {
  margin: 8px 0;
}

.subtile {
  color: #94a3b8;
}

location {
  color: #94a3b8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: #3b82f6;
  color: white;
  border-radius: 6px;
  font-weight: bold;
}

.btn:hover {
  background: #2563eb;
}
